<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | Free Code Camp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="small-container">
        <h1>Exercise tracker</h1>
        <form action="/add" method="post">
          <h3>Add exercises</h3>
          <input id="uid" type="text" name="userId" placeholder="userId*" />
          <input
            id="desc"
            type="text"
            name="description"
            placeholder="description*"
          />
          <input
            id="dur"
            type="text"
            name="duration"
            placeholder="duration* (mins.)"
          />
          <input
            id="dat"
            type="text"
            name="date"
            placeholder="date (yyyy-mm-dd)"
          />
          <input type="submit" value="Submit" />
        </form>
        <a class="log-button" href="/">
          Create a user
        </a>
        <a class="log-button" href="/logview">
          View your log
        </a>
        <a class="log-button" href="/forgot-id">
          Forgot your userId?
        </a>
      </div>
    </div>
  </body>
</html>
