<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | Free Code Camp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="small-container">
        <h1>Exercise tracker</h1>
        <form action="/log" method="post">
          <h3>View your exercises</h3>
          <input id="uid" type="text" name="userId" placeholder="userId*" />
          <input
            id="fro"
            type="text"
            name="from"
            placeholder="from (yyyy-mm-dd)"
          />
          <input
            id="to"
            type="text"
            name="to"
            placeholder="to (yyyy-mm-dd)"
          />
          <input
            id="lim"
            type="text"
            name="limit"
            placeholder="limit"
          />
          <input type="submit" value="Submit" />
        </form>
        <a class="log-button" href="/">
          Create a user
        </a>
        <a class="log-button" href="/logger">
          Log your exercise
        </a>
        <a class="log-button" href="/forgot-id">
          Forgot your userId?
        </a>
      </div>
    </div>
  </body>
</html>
